@{
    ViewData["Title"] = "Skills";
}
<section class="py-5">
    <h2 class="fw-bold mb-4">My Skills</h2>
    <div class="row g-4">
        <div class="col-md-6 col-xl-3"><div class="card p-3 text-center h-100"><h5>Programming</h5><p>C#, Java, Python, VB.NET</p></div></div>
        <div class="col-md-6 col-xl-3"><div class="card p-3 text-center h-100"><h5>Web</h5><p>ASP.NET MVC, HTML5, CSS3, Bootstrap</p></div></div>
        <div class="col-md-6 col-xl-3"><div class="card p-3 text-center h-100"><h5>Databases</h5><p>MS Access, SQL, MySQL</p></div></div>
        <div class="col-md-6 col-xl-3"><div class="card p-3 text-center h-100"><h5>Tools</h5><p>Visual Studio, Git, GitHub</p></div></div>
    </div>
</section>